/**
 * Styles override for 3200+ pixels screens
 */

/* Class used to determine which media queries are on */
#mediaquery-checker {
	width: 20px;
}

.with-padding-no-top {
  padding: 0 10px 20px !important;
}