/**
 *
 * '||''|.                            '||
 *  ||   ||    ....  .... ...   ....   ||    ...   ... ...  ... ..
 *  ||    || .|...||  '|.  |  .|...||  ||  .|  '|.  ||'  ||  ||' ''
 *  ||    || ||        '|.|   ||       ||  ||   ||  ||    |  ||
 * .||...|'   '|...'    '|     '|...' .||.  '|..|'  ||...'  .||.
 *                                                  ||
 * --------------- By Display:inline ------------- '''' -----------
 *
 * Styles for the error pages
 */

#container {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -132px 0 0 -150px;
	width: 284px;
	padding: 8px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: inset 0 3px 12px rgba(0, 0, 0, 0.85);
	-moz-box-shadow: inset 0 3px 12px rgba(0, 0, 0, 0.85);
	box-shadow: inset 0 3px 12px rgba(0, 0, 0, 0.85);
	}
	#container > div {
		padding: 12px;
		-webkit-border-top-left-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius: 10px 10px 0 0;
		border-radius: 10px 10px 0 0;
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45), 0 3px 12px rgba(0, 0, 0, 0.85);
		-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45), 0 3px 12px rgba(0, 0, 0, 0.85);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45), 0 3px 12px rgba(0, 0, 0, 0.85);
	}
	#container > .button {
		margin-top: 8px;
		border: 0;
		-webkit-border-bottom-left-radius: 10px;
		-webkit-border-bottom-right-radius: 10px;
		-moz-border-radius: 0 0 10px 10px;
		border-radius: 0 0 10px 10px;
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45), 0 3px 12px rgba(0, 0, 0, 0.85);
		-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45), 0 3px 12px rgba(0, 0, 0, 0.85);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45), 0 3px 12px rgba(0, 0, 0, 0.85);
	}
	h1 {
		color: white;
		line-height: 120px;
		font-size: 130px;
		margin: 0 0 15px;
		/* Awesome style by Mark Otto : http://markdotto.com/playground/3d-text/ */
		-webkit-text-shadow: 0 1px 0 #ccc,
							 0 2px 0 #c9c9c9,
							 0 3px 0 #bbb,
							 0 4px 0 #b9b9b9,
							 0 5px 0 #aaa,
							 0 6px 1px rgba(0, 0, 0, 0.1),
							 0 0 5px rgba(0, 0, 0, 0.1),
							 0 1px 3px rgba(0, 0, 0, 0.3),
							 0 3px 5px rgba(0, 0, 0, 0.2),
							 0 5px 10px rgba(0, 0, 0, 0.25),
							 0 10px 10px rgba(0, 0, 0, 0.2),
							 0 20px 20px rgba(0, 0, 0, 0.15);
		-moz-text-shadow: 0 1px 0 #ccc,
						  0 2px 0 #c9c9c9,
						  0 3px 0 #bbb,
						  0 4px 0 #b9b9b9,
						  0 5px 0 #aaa,
						  0 6px 1px rgba(0, 0, 0, 0.1),
						  0 0 5px rgba(0, 0, 0, 0.1),
						  0 1px 3px rgba(0, 0, 0, 0.3),
						  0 3px 5px rgba(0, 0, 0, 0.2),
						  0 5px 10px rgba(0, 0, 0, 0.25),
						  0 10px 10px rgba(0, 0, 0, 0.2),
						  0 20px 20px rgba(0, 0, 0, 0.15);
		text-shadow: 0 1px 0 #ccc,
					 0 2px 0 #c9c9c9,
					 0 3px 0 #bbb,
					 0 4px 0 #b9b9b9,
					 0 5px 0 #aaa,
					 0 6px 1px rgba(0, 0, 0, 0.1),
					 0 0 5px rgba(0, 0, 0, 0.1),
					 0 1px 3px rgba(0, 0, 0, 0.3),
					 0 3px 5px rgba(0, 0, 0, 0.2),
					 0 5px 10px rgba(0, 0, 0, 0.25),
					 0 10px 10px rgba(0, 0, 0, 0.2),
					 0 20px 20px rgba(0, 0, 0, 0.15);
	}
	h2 {
		color: black;
		font-size: 20px;
		font-weight: bold;
		text-transform: uppercase;
		margin: 0 0 10px;
		-webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
		-moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
	}