/* admin product add/edit page specific css */

/* content tab */
#fileUploaderImageContainer .qq-upload-drop-area { left: 19%; min-height: 104px; position: absolute; width: 65%; bottom: 55px; }
#fileUploaderImageContainer .qq-upload-drop-area span { margin-top:-16px; }

/* images tab */
.files-list > li > a:hover { color: #0099FF; }
.selected-menu b { color: #016cb3; }

/* options tab */
body.dragging, body.dragging * { cursor: move !important; }
.dragged { position: absolute; opacity: 0.5; z-index: 2000; }
.placeholder { position: relative; }
.placeholder:before { position: absolute; }

/* pricing tab */
#simpleOptionsPricingTable td {  }
#simpleOptionsPricingTable input { width:55px; }
#simpleOptionsPricingTable .inputs { width:80px; }
#simpleOptionsPricingTable .element { padding-left:24px; vertical-align:middle; }

.accordion > dt { 
  background: -webkit-gradient(linear, left top, left bottom, from(#565656), to(#404040));
  background: -webkit-linear-gradient(top, #565656, #404040);
  background: -moz-linear-gradient(top, #565656, #404040);
  background: -ms-linear-gradient(top, #565656, #404040);
  background: -o-linear-gradient(top, #565656, #404040);
  background: linear-gradient(top, #565656, #404040);
  border-color: #282E36;
  color: white;
}

#categories_filter_container { position:absolute; top:95px; left:190px; z-index:2; }

/* custom media queries */
@media screen and (min-width: 480px) and (max-width: 767px) {
  .dataTables_filter { float: none; text-align: left; }
  .dataTables_filter input { margin-top: 40px; }
  #categories_filter_container { position:absolute; top:92px; left:15px; z-index:2; }
}
  
@media screen and (max-width: 479px) {
  .dataTables_filter { float: none; text-align: left; }
  .dataTables_filter input { margin-top: 40px; }
  #categories_filter_container { position:absolute; top:88px; left:15px; z-index:2; }
}