/* admin product add/edit page specific css */
body.dragging, body.dragging * { cursor: move !important; }
.dragged { position: absolute; opacity: 0.5; z-index: 2000; }
.placeholder { position: relative; }
.placeholder:before { position: absolute; }
