body { padding-top: 0px; padding-bottom: 40px; padding-top: 0px; padding-bottom: 0px; font-family: 'Roboto', sans-serif; }
h1,h2,h3,h4,h5,h6 { font-weight:200; }

.navbar .container  { max-width: 1170px; }
.navbar-inverse .navbar-inner{ -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; background:#282828; border:none; }
.nav-tabs > li > a { -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }    
#cat-navi select{ display:none; }

.page-header { border:none; padding: 10px 0px 0px; margin: 0px 0 0px; }
.brand { margin-left:10px; margin-top:-15px; }
.thumbnail { margin-bottom:20px; padding:0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }
.well { min-height: 20px; padding: 19px; margin-bottom: 20px; background-color: #f5f5f5; border: 1px solid #e3e3e3; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.carousel-inner > .item > img, .carousel-inner > .item > a > img { min-width:100%; }

/* product listings */
.product-special-price { color:#FF0000; }

.product-listing-module-buy-now a { text-decoration:none; }

/* box modules */
.product_notifications-image { float:left; margin-top:8px; }

/* content modules */
.content-upcoming-products-image-tag { padding-top:20px; }
.content-upcoming-products-text-expected { font-size:.9em; }
.content-upcoming-products-text-price { font-size:1.3em; }
.content-upcoming-products-text-name { line-height:1.1; font-size:1.3em; }

/*************** Bootstrap fixes **************/ 
.container-folio.row-fluid .span6:nth-child(2n+1), #container-folio.row-fluid .span6:nth-child(2n+1){ margin-left:0px; } /* row-fluid scafolding */
.container-folio.row-fluid .span4:nth-child(3n+1), #container-folio.row-fluid .span4:nth-child(3n+1){ margin-left:0px; } /* row-fluid scafolding */ 
.container-folio.row-fluid .span3:nth-child(4n+1), #container-folio.row-fluid .span3:nth-child(4n+1){ margin-left:0px; } /* row-fluid scafolding */
.row-fluid.articles-grid .span6:nth-child(2n+1){ margin-left:0px; } /* fixed bs margin when row-fluid grid*/
.row-fluid [class*="span"].pull-right:first-child { margin-left: 30px; } /* fixed pull-right margin */
.row-fluid [class*="span"].left-side:last-child { margin-left: 0px; } /* fixed pull-right margin */

.fixed-top{ position:fixed; top:0px; bottom:0px; display:inline-block; max-width:370px; background:e0e0e0; barder:1px solid #dfdfdf; z-index:1030; }
  
.tab-content .tab-pane{ max-height:600px; position:relative; overflow:auto; }

footer { padding-top:40px; margin-top:40px; border-top:1px solid #dedede; }

.related-projects { padding-top:40px; margin-top:40px; }
  
#cat-navi select{ display:none; }

/* utility */
.clear-left { clear: left; }
.clear-right { clear: right; }
.clear-both { clear: both; }

.margin-top { margin-top:10px; }
.small-margin-top { margin-top:4px; }
.mid-margin-top { margin-top:15px; }
.large-margin-top { margin-top:20px; }
.no-margin-top { margin-top:0; }

.margin-bottom { margin-bottom:10px; }
.small-margin-bottom { margin-bottom:4px; }
.mid-margin-bottom { margin-bottom:15px; }
.large-margin-bottom { margin-bottom:20px; }
.no-margin-bottom { margin-bottom:0; }

.no-margin-left { margin-left:0 !important; }
.no-margin-right { margin-right:0 !important; }

.float-left { float:left; }
.float-right { float:right; }

.align-center { text-align:center; }
.align-left { text-align:left; }
.align-right { text-align:right; }

.margin-left-li { margin-left:0; }
.margin-top-li { margin-top:-10px; }
                                   
.with-padding { padding:0 10px; }
.large-padding-top { padding-top:20px; }

.strong { font-weight:bold; }

.list-style-square { list-style:square; }
.list-style-disc { list-style:disc; }
.list-style-circle { list-style:circle; }
.list-style-decimal { list-style:decimal; }
.list-style-none { list-style:none; }

.no-wrap { white-space: nowrap; }

/* utility end*/

/* colors */
.red { color:#ff0000; }

/* QR Code */
#qr-message {  -ms-word-break: break-all;  word-break: break-all; word-break: break-word;  -webkit-hyphens: auto;  -moz-hyphens: auto;  hyphens: auto;  display:none;  position:fixed;  bottom:25px;  right:25px;  width: 250px;  text-align:center;  background:#f5f5f5; padding:10px 0; }
#qr-message strong {font-weight:bold;}
.close-qr { background-color: #D52607;  border-radius: 9px 9px 9px 9px;  border-style: solid;  border-width: 1px;  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 3px rgba(0, 0, 0, 0.75);  color: #FFFFFF;  font-family: verdana,Arial,Helvetica,sans-serif;  font-size: 11px;  font-weight: bold;  height: 16px;  right: -6px;  line-height: 16px;  min-width: 12px;  padding: 0 2px;  position: absolute;  text-align: center;  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);  top: -6px;  z-index: 1;  cursor: pointer;} 
  
/*************** @media ******************/
@media (max-width: 940px){
  .brand {
    display:block;
    text-align:center;
    font-size:26px;
  }
  #cat-navi select{
    display:block;
    width:100%;
  }
  #cat-navi li{
    display:none;
  } 
}

@media (max-width: 1200px) and (min-width: 940px){
  
}

/* Desktops and laptops ----------- */
@media (min-width : 1224px) {
  .content-new-products-container { margin-right:-50px; }
  .content-upcoming-products-container { margin-right:-75px; }
  .product-listing-module-container { margin-right:-50px; }
}


@media (max-width: 940px) and (min-width: 768px){
  .fixed-top{
    max-width:225px;
  }
  .row-fluid [class*="span"].left-side:last-child {
    clear:both;
  }
}