/* CSS BROWSER RESET
------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{ margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

/* remember to define focus styles! */
body.bodyStyle { margin: 5px; margin-top: 15px; font-family: Arial, Arial, Helvetica, sans-serif; background: transparent; }
ol, ul { list-style: none; }

/* Default style for controls input ,select */
input, select { padding: 3px; border-style: solid; border-width: 1px; border-color: #abadb3; font: 12px Arial, Helvetica, sans-serif; float: left; }
select { background-image: none; }
#ccType { display: none; }
#PaymentTypeCC { margin-bottom: 10px; }
input:focus { border: 1px solid #C541FC; outline: medium none; }

input.button { cursor: pointer; width: 90px !important; background-color: #873b7a !important; background-image: none !important; border-style: inset; border-width: 1px; color: #FFF; }
fieldset li, fieldset p { font-size: 14px; }
.subsection-header { border-bottom: dotted 1px #ccc; font-size: 14px; font-weight: bold; margin-bottom: 15px; padding-bottom: 5px; margin-top: 15px; display: block; }

.PLImage { clear: both; float: right; margin-top: -10px; }
#totalAmount { display: none; }

/* To control total size width of the form*/
.divMain { position: relative; background: transparent; width:100%; }
.divMain input.button { position: relative; top: auto; left: auto; margin-right: 0px; }
.divMain div.error { background: none repeat scroll 0 0 #FFE3E2; border: 1px solid #D84646; margin-bottom: 10px; padding: 5px; width:100% }
.divMain div.error div { line-height: 1.4; }
.divMain div.error li { height: auto; padding-left: 10px; }
.divMain fieldset { margin: 0 20px; }
.divMain label { font-size: 14px; }

/* To control the size and position of all fields */
.divMain ol { position: relative;  }
.divMain li { position: relative; height: 4.0em; }
.divMain li input, .divMain li select { position: static; top: -3px; left: 140px; width: 100%; display:block; }
.divMain span.pointout { color: #007000; font-size: 19px; margin-bottom: 24px; position: absolute; }

.fieldLayout li#CVV { z-index: 4000; }
.fieldLayout li#CVV a { position: static; top: 0; left: 14em; display: block; width: 16px; height: 16px; text-indent: -9999px; z-index: 8000; display:block; }
.fieldLayout li#CVV a:link, li#cv2 a:visited, li#cv2 a:active { text-decoration: none; color: #000; }
.fieldLayout li#CVV a span { display: none; position: absolute; background: #FFF; text-indent: 0; top: 28px; left: -120px; z-index: 9000; width: 220px; border: #CCC solid 1px; padding: 12px; font-size: 11px; line-height: 1.4; }
.fieldLayout li#CVV a span img { display: block; }
.fieldLayout li#CVV a:hover span { cursor: default; display: block; color: #000; }

.fieldLayout li#process { display:block; float:right; }
.fieldLayout li#Cancel { display:block; float:left; }