/* #Tablet (Portrait)
================================================== */
@media only screen and (min-width: 650px) and (max-width: 960px) {
  header, nav, section, footer, ul.sub_menu, .col_left_main {
    width:650px;
  }
  
  #side_nav { width:150px; }
  #main_content { width:512px; }

  .toolbar { margin-left:-10px; width:102%; }
  .toolbar > div.viewby { margin-left:22px; }

  footer .footer_links > li { padding-left:25px; width:140px; }
  footer .footer_customblock { display:none; }
  .subscribe_block .find_us { margin-left:22px; width:120px; }
  .subscribe_block .subscribe_nl { width:475px; }
  .subscribe_block .subscribe_nl small { width:405px; }
  .subscribe_block .subscribe_nl form { margin-top:6px; float:left; }
  header .header_search input { width:82%; }

  /* Home */
  #banner_section { height:auto; }
  #banner_section .promo_banner { width:100%; margin-top:10px; }
  #banner_section .promo_banner .home_banner { float:left; width:32.3%; margin-left:10px; height:auto; margin-bottom:5px; }
  #banner_section .promo_banner > div:first-child { margin-left:0px; }

  .jcarousel-skin-tango .jcarousel-clip-horizontal { width:680px; }
  .jcarousel-skin-tango .jcarousel-item { width:215px; }
  .jcarousel-skin-tango .jcarousel-item-horizontal { margin-left:0; margin-right:15px; }

  /* Product Listing */
  .products_list li { margin:5px; } 
  
  /* Detail page */
  .product_leftcol { width:30%; float:left; }
  .product_leftcol > ul.pr_gallery li { width:55px; }
  
  .product_rightcol { width:67%; float:right; }
  .product_rightcol .variant_info > div { margin-right:25px; }
  .product_rightcol{ max-width:100% !important; }
  

  /* Cart */
  .checkout_tax .shipping_tax { width:335px; }
  .checkout_tax .shipping_tax label { clear:left; margin-bottom:5px; }
  .checkout_tax .shipping_tax input[type="text"] { width:204px; }
  .checkout_tax .shipping_tax .brown_btn { margin-right:20px; }

  /* Checkout */
  .checkout_steps { width:100%; }
  .checkout_steps #checkout-step-login { width:96.6%; padding:10px; }
  .checkout_steps #checkout_shipping_col1 { width:33% !important; }
  .col_right { display:none; }

  /* Contact */
  .contact_page iframe { width:40%; height:30%; }
  
  /* added for info tabs responsiveness */
  #right_side_nav { display:none; }
  .jcarousel-skin-tango .jcarousel-item-horizontal { margin-left:0; margin-right:45px !important; }
  .jcarousel-clip { width:100% !important; }
  .jcarousel-item .price_info { margin-left:5px !important; }
  #first-carousel li { margin:3px !important;  }
  
  /* hide colLeft and show Mobile Menu */
  .colLeft { display: none; }
  .colMid { width:98% !important; }
  .colRight { display:none; }  
  .browse-catalog { float:left; display:block !important; height:24px; margin:22px 0 0 20px; }
  #browse-catalog-div { width: 240px; left:249px; top:101px; }
  .mobile-menu { display:block !important; float:left; padding:6px 0 0 3px; } 
  .language_switch { display:none; }
  #checkout_shipping_order_totals { width:210px !important; }
  .next-li { border-top: none !important; margin-top: 4px !important; }
}

/* #Mobile (Landscape)
================================================== */
@media only screen and (min-width: 480px) and (max-width: 649px) {
  header, nav, section, footer, ul.sub_menu, .col_left_main{
    width:98%;
  }
   
  #main_content { width:100%; }
  
  .toolbar > div.viewby { margin-left:22px; }

  footer .footer_links > li { padding-left:25px; width:140px; }
  footer .footer_customblock { display:none; }
  .subscribe_block .find_us { margin-left:22px; width:120px; }
  .subscribe_block .subscribe_nl { width:475px; }
  .subscribe_block .subscribe_nl small { width:405px; }
  .subscribe_block .subscribe_nl form { margin-top:6px; float:left; }
  header .header_search input { width:82%; }

  /*Home*/
  #banner_section { height:auto; }
  #banner_section .promo_banner { width:100%; margin-top:10px; }
  #banner_section .promo_banner .home_banner { float:left; width:32.3%; margin-left:10px; height:auto; margin-bottom:5px; }
  #banner_section .promo_banner > div:first-child { margin-left:0px; }

  .jcarousel-skin-tango .jcarousel-clip-horizontal { width:680px; }
  .jcarousel-skin-tango .jcarousel-item { width:215px; }
  .jcarousel-skin-tango .jcarousel-item-horizontal { margin-left:0; margin-right:15px; }

  /* Product Listing */
  .products_list li { margin-left:15px; }  
  .products_list_list li { margin-left:0; }  
  
  /* Detail page */
  .product_leftcol { width:30%; float: left; }
  .product_leftcol > ul.pr_gallery li { width:37px; }
  
  .product_rightcol { width:67%; float:right; }
  .product_rightcol .variant_info > div { margin-right:25px; }
  .product_rightcol{ max-width:100% !important; }

  .product_rightcol .add_to_buttons span { width: 50px; }

  /*Cart*/
  .checkout_tax .shipping_tax { width:335px; }
  .checkout_tax .shipping_tax label { clear:left; margin-bottom:5px; }
  .checkout_tax .shipping_tax input[type="text"] { width:204px; }
  .checkout_tax .shipping_tax .brown_btn { margin-right:20px; }

  /*Checkout*/
  .checkout_steps { width:100%; }
  .checkout_steps #checkout-step-login { width:95.3%; padding:10px; }
  .checkout_steps #checkout_shipping_col1 { width:100% !important; }
  .checkout_steps #checkout_shipping_col2 { width:100% !important; }
  .checkout_steps #checkout_shipping_order_totals { margin-bottom:15px; }
  #shippingActions .buttonLeft { display:none; }
  .col_right { display:none; }

  /*Contact*/
  .contact_page iframe { width:40%; height:30%; }
  
  .single-bg { width:94% !important; } 
  
  /* added for info tabs responsiveness :: maestro */
  #left_side_nav { display:none; }
  #right_side_nav { display:none; }
  .colLeft { display:none; }
  .colMid { width:97% !important; }
  .colRight { display:none; }
  .navigation_container #currencySelect { display:none; } 
  .language_switch { display:none; }
  .jcarousel-skin-tango .jcarousel-item-horizontal { margin-left:0; margin-right:30px !important; }
  .jcarousel-clip { width:100% !important; }
  .simpleTabs .simpleTabsNavigation #moreTabNav { display:none; }
  .subscribe_nl { float:right; width:290px !important; }
  .subscribe_nl small { width:290px !important; }
  header .header_search { margin-top:-20px; margin-bottom:10px; }
  .hide-on-480 { display:none; }
  .hide-on-mobile { display:none; }
  .browse-catalog { float:right; display:block !important; height:24px; margin:10px 3px 0 0; padding-top:5px; }
  #browse-catalog-div { width: 240px; left:277px; top:89px; }

  #liveSearchForm { margin-top:10px; }
 
  footer .footer_links > li { width:112px !important; padding:5px 0px 5px 10px;  }
 /* #ot-container { display: none; } */
  #checkout_shipping_order_totals { display: none; }
  #mobile-grand-total { display:block; border:1px solid #ccc; padding:5px 10px 5px 0px; height:25px; width:96%; margin-bottom:15px; }
  #mobile-order-totals { border:1px solid #ccc; padding:8px 10px 5px 0px; width:96%; height:120px; line-height: 10px; margin-bottom:15px; }
  #mobile-order-totals .ot-mobile-block label { float: left; width: 85%; }
  #mobile-order-totals .ot-mobile-block span { float: right; text-align: right;  padding-top: 6px; }
  #mobile-order-totals #mobile_sub_total { font-weight: bold; }
  #mobile-order-totals #mobile_total { color: #873B7A; font-weight: bold; }
  #mobile-grand-total .ot-mobile-block label { float: left; width: 85%; padding-top: 5px; }
  #mobile-grand-total .ot-mobile-block span { float: right; text-align: right;  padding-top: 6px; }
  #mobile-grand-total #mobile_total { color: #873B7A; font-weight: bold; }
  .ot-mobile-block { width: 90%; float:right; }
  .next-li { border-top: none !important; }
  .arrow-down { width:0; height:0; border-left:10px solid transparent; border-right:10px solid transparent; border-top:10px solid black; float:left; }
  .arrow-up { width:0; height:0; border-left:10px solid transparent; border-right:10px solid transparent; border-bottom:10px solid black; float:left; }
  #mobile-arrow-up { float:left;padding:5px 10px 0 10px; }
  #mobile-arrow-down { float:left;padding:8px 10px 0 10px; }
  #bill-to-address { margin-bottom:15px; }
  #success-order-comment { width: 96% !important; float: left; margin-bottom: 10px; }
  #success-order-totals { width: 100% !important; float: left; }
  #success-order-totals #ot-container { display: block; }
  #mobile-order-number-id { display: block !important; padding-left: 10px; }
  #success-order-number { display: none; }
  #success-order-id { display: none; }
  .show-on-mobile { display: block !important; }
  .mobile-coupon-tip { margin: -10px 0 5px 0; }
  .next-li { border-top: none !important; margin-top: 4px !important; }
}

/*  #Mobile (Portrait)
================================================== */
@media only screen and (max-width: 479px) {
  header, nav, section, footer, ul.sub_menu, .col_left_main {
    width:98%;
  }
  
  section { width: 300px !important; padding-right: 0 !important;}

  /* General */
  header { position:relative; }
  .responsive-nav { display:block!important; position:absolute; top:108px; width:250px; left:7%; }
  .responsive-nav .selector { width:232px; }
  .responsive-nav .selector span { width:239px; }
  .responsive-nav .selector select { width:246px; }

  header .language_switch a { padding:3px 4px; }
  header .top_links > li a { padding:16px 4px; font-size:11px; }
  header h1.logo { width:145px; margin:auto; float:none; padding:0px; }
  nav .primary_nav { display:none; }
  .header-container { padding-bottom:20px; }
  header .header_search { margin:auto; }
  header .header_search { width:150px; margin-bottom:-43px; margin-top:32px; float:left; }
  header .header_search input { width:76%; }
  header .header_search button { margin:0px; }

  #banner_section { height:auto; }
  #banner_section .flexslider { width:100%; height:auto; }
  .flexslider .flex-direction-nav li a { width:35px; height:35px; }
  .promo_banner { display:none; }

  .jcarousel-skin-tango .jcarousel-clip-horizontal { width:300px; margin:auto; }
  .jcarousel-skin-tango .jcarousel-item { padding:0px 35px; }
  .products_list { padding-bottom:20px; }

  .subscribe_block .find_us { width:260px; margin-left:38px; border:none; padding:0px; box-shadow:none; margin-bottom:10px; }
  .subscribe_block .subscribe_nl { width:268px; margin-right:20px; padding-top:5px; border-top:solid 1px #A29C97; }
  .subscribe_block .subscribe_nl small { display:none; }
  .subscribe_block .subscribe_nl form { margin-top:5px; }

  
  footer { width:310px; }
  footer .footer_links > li { width:140px; padding: 0; margin: 0 0 10px 10px; }
  footer .footer_links > li.seperator { border:none; }
  footer .footer_customblock { border-left:none; border-top:solid 1px #D6D6D6; width:100%; min-height:inherit; }
  footer .footer_customblock > div { padding:10px; }
  footer address { margin-top:0px; text-align:center; }
  footer address img { float:none; }
  
  
  /* Listing Page */
  .toolbar { width: 310px !important; }
  .toolbar > div.viewby { margin-left:0px; }
  .toolbar label { display:none; }
  .toolbar > div.viewby { margin-left:6px; }
  
  .products_list li { margin-left:50px; }
/*  .products_list div.price_info button { margin-top:10px; } */

  
  .products_list_list li { margin-left:0; }
  .products_list_list a.product_image img { width:100px; height:115px; }
  .products_list_list div.product_info h3 { margin-top:0 !important; padding-top:0 !important; }
  .products_list_list div.price_info button { margin-top:0 !important; padding-top:0 !important; }
  
  /* Detail Page */
  #pimage { margin-left:10px; }
  .product_leftcol { width:310px; }
  
  .product_rightcol { width:300px !important; margin:0 5px; }
  .product_rightcol h1 { padding-top:20px; }
  .product_rightcol .variant_info label { width:88px; }
  .product_rightcol .variant_sel { margin-bottom:5px; }
  .product_rightcol .add_to_buttons { padding:15px 0px; }
  .product_rightcol .add_to_buttons span { width:33px; }
  .product_rightcol{ max-width:100% !important; }

  .single-bg { width:94% !important; }

  /* Cart */
  .checkout_tax .shipping_tax, .checkout_tax .checkout_discount { width:310px; }
  .message { padding:12px 12px 12px 75px; }
  .action_buttonbar { padding:5px; }
  #shopping-cart-table td:first-child { width:1%; }
  #shopping-cart-table td img { display:none; }
  #shopping-cart-table tr td input.qty_box { width:16px; padding:2px; }
  #shopping-cart-table th { font-size:12px; padding:10px 0px; }
  #shopping-cart-table tr td a.remove { width:15px; height:15px; }
  #shopping-cart-table tr td span.price { font-size:12px; font-weight:normal; }
  #shopping-cart-table tr td a.edit { padding:0px 2px; font-size:10px; }
  #shopping-cart-table tr td a.pr_name { font-size:12px; }
  .checkout_tax .shipping_tax label { float:left; width:24%; clear:left; }
  .checkout_tax .shipping_tax input[type="text"] { float:left; width:205px; }
  .checkout_tax .checkout_discount { padding-left:0px; padding-right:0px; margin-top:10px; }

  /*Checkout*/
  .checkout_steps { width:100%; }
  .checkout_steps #checkout-step-login { width:93.2%; padding:10px; }
  .checkout_steps #checkout_shipping_col1 { width:100% !important; }
  .checkout_steps #checkout_shipping_col2 { width:100% !important; }
  .checkout_steps #checkout_shipping_order_totals { margin-bottom:15px; }
  #shippingActions .buttonLeft { display:none; }
  .col2-set .col-1 { width:100%; padding-bottom:10px; }
  #checkout-step-login label { padding:3px 0px; }
  .col_right { display:none; }

  /* Contact */
  .contact_page iframe { width:99%; height:200px; }
  .contact_page address, .contact_page .block { width:auto; }
  .contact_page #contact_form li input[type="text"], .contact_page #contact_form li textarea { width:300px; }
  
  .wrapper .section_container #breadCrumbContainer { display:none; }
  .navigation_container #currencySelect { display:none; }
  #left_side_nav { display:none; }
  #right_side_nav { display:none; }
  .colLeft { display:none; }
  .colMid { width:97% !important; margin-left:-20px; }
  .colRight { display:none; }
  .language_switch { display:none; }
  .hide-on-480 { display:none; }
  .hide-on-320 { display:none; }
  .hide-on-mobile { display:none; }
  header h1.logo { float:left !important; }
  header .header_search { clear:both; margin-left:3px; }
  .mobile-menu { display:block !important; float:left; padding:6px 0 0 3px; }
  header .header_search { clear:both; }
  .browse-catalog { float:right; display:block !important; height:24px; margin:10px 3px 0 0; padding-top:5px; }  
  #browse-catalog-div { width: 240px; left:73px; top:89px; }
  #checkout_shipping_order_totals { display: none; }
  #checkout_shipping_col1 h3 { margin-top: 10px; }
  #shippingQuotes h3 { margin-top: 10px; }
  #ot-container { display: none; }
  #checkout_shipping_order_totals { display: none; }
  #mobile-grand-total { display:block; border:1px solid #ccc; padding:5px 10px 5px 0px; height:25px; width:96%; }
  #mobile-order-totals { border:1px solid #ccc; padding:8px 10px 5px 0px; width:96%; height:110px; line-height: 20px; }
  #mobile-order-totals .ot-mobile-block label { float: left; width: 65%; }
  #mobile-order-totals .ot-mobile-block span { float: right; text-align: right;  padding-top: 6px; }
  #mobile-order-totals #mobile_sub_total { font-weight: bold; }
  #mobile-order-totals #mobile_total { color: #873B7A; font-weight: bold; }
  #mobile-grand-total .ot-mobile-block label { float: left; width: 65%; padding-top: 5px; }
  #mobile-grand-total .ot-mobile-block span { float: right; text-align: right;  padding-top: 6px; }
  #mobile-grand-total #mobile_total { color: #873B7A; font-weight: bold; }
  .ot-mobile-block { width: 80%; float:right; }
  .arrow-down { width:0; height:0; border-left:10px solid transparent; border-right:10px solid transparent; border-top:10px solid black; float:left; }
  .arrow-up { width:0; height:0; border-left:10px solid transparent; border-right:10px solid transparent; border-bottom:10px solid black; float:left; }
  #mobile-arrow-up { float:left;padding:5px 10px 0 10px; }
  #mobile-arrow-down { float:left;padding:8px 10px 0 10px; }
  #bill-to-address { clear:both !important; width:auto !important; margin-bottom:15px; }
  #bill-to-change { clear:both !important; width:auto !important; margin-bottom:15px; }
  #mobile-order-number-id { display: block !important; padding-left: 10px; }
  #success-order-number { display: none; }
  #success-order-id { display: none; }
  #success-order-comment { width: 92.5% !important; float: left; margin-bottom: 10px; }
  #success-order-totals { width: 100% !important; float: left; }
  #success-order-totals #ot-container { display: block; }
  #confirmation-discount-code { float: left; width: 100%;  }
  #confirmation-order-totals { float: left; width: 100%; }
  #confirmation-order-comment { float: left; width: 100%; }
  #confirmation-grand-total { float: left; width: 100%; margin-bottom: 10px; }
  #confirmation-grand-total-inner #ot-container { display: block; }
  #confirmation-order-totals #ot-container { display: block; }
}