@charset "utf-8";
/* CSS Document */

/*Alert*/
.msg {
  border-radius: 1px;
  margin-bottom: 5px;
  padding:10px 5px;
	width:auto;
	color:#544F4B;
	font-size:11px;	
}
.msg span{
   padding: 6px 0 6px 40px;
	 display:block;
	 margin-left:4px;
}
.success {
    background:#F9FFF1;
    border: 1px solid #acc600;
}
.error {
    background:#D0EEF5;
    border: 1px solid #00BCE4;
}
label.error {
    color: #d84646;
    border: none;
    background: transparent;
    font-style:italic;
}
.info {
    background:#d8f4ff;
    border: 1px solid #3c91cb;
}
.bookmark {
    background:#fffbdf;
    border: 1px solid #fca801;
}
.success span {
    background: url(../images/shortcodes/success.png) no-repeat scroll left center transparent;
}
.error span {
    background: url(../images/shortcodes/error.png) no-repeat scroll left center transparent;
}

.info span {
    background: url(../images/shortcodes/info.png) no-repeat scroll left center transparent;
}
.bookmark span {
    background: url(../images/shortcodes/bookmark.png) no-repeat scroll left center transparent;
}
input:focus { 
    outline:none;
    border: 1px solid #00BCE4; 
    /* create a BIG glow
    box-shadow: 0px 0px 14px #c541fc; 
    -moz-box-shadow: 0px 0px 14px #c541fc;
    -webkit-box-shadow: 0px 0px 14px #c541fc; */
}​

/* margin utility classes */
.no-margin-top { margin-top:0; }
.small-margin-top { margin-top:4px !important; }
.margin-top { margin-top:10px !important; }
.large-margin-top { margin-top:20px !important; }
.no-margin-bottom { margin-bottom:0 !important; }
.small-margin-bottom { margin-bottom:4px !important; }
.margin-bottom { margin-bottom:10px !important; }
.large-margin-bottom { margin-bottom:20px !important; }

/*Toggle*/
.toggle_box{ border:solid 1px #DEDEDE;}
.toggle_box .toggle_title{ padding:12px 35px 8px; display:block; border-bottom:solid 1px #DEDEDE; background:#F9F9F9; font-weight:bold!important; color:#544F4B; text-decoration:none; font-size:14px; line-height:100%; background-image:url(../images/shortcodes/toggle.png); background-repeat:no-repeat; background-position:12px 12px;}
.toggle_box .toggle_title:hover{ background-color:#fff;}
.toggle_box .toggle_title.active{background-position:12px -12px; background-color:#fff;}
.toggle_box > ul{ margin:0px;}
.toggle_box > li{ margin:0px;}
.toggle_box > li .toggle_content{ padding:15px; line-height:18px; display:none;border-bottom:solid 1px #DEDEDE; }
.toggle_box > li .toggle_content.active{display:block;}

/*Button*/
.sc-button{
    -moz-transition: all 0.1s ease-in-out 0s;
    border: 0 none;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,sans-serif;
	font-size:13px;
	font-weight: bold;
    padding: 9px 12px;
    width: auto;
	color:#fff;
	margin:0 0.3em 1em 0 !important;
	text-decoration:none;
}
.sc-button.big{padding: 15px 23px; font-size:15px;}
.sc-button.orange{ background-color:#F38256;}
.sc-button.grey{ background-color:#AAAAAA;}
.sc-button.blue{background-color:#3c61a6;}
.sc-button.red{ background-color:#d73b33;}
.sc-button.light-blue{ background-color:#15c0eb;}
.sc-button.purple{ background-color:#8e3e7d;}
.sc-button.green{ background-color:#a5c039;}
.sc-button.black{ background-color:#010101;}

.sc-button.round{ border-radius:8px;}
.sc-button:hover{ background-color:#55504C; box-shadow: 0 0px 0 #FFFFFF inset, 0 2px 1px rgba(204, 204, 204, 0.9);}

/*List*/
.check_li, .arrow_li, .arrow2_li, .plus_li, .dash_li, .circle_li, .star_li{ margin:5px 0px 5px; }
.check_li li, .arrow_li li, .arrow2_li li, .plus_li li, .dash_li li, .circle_li li, .star_li li{ padding:2px 0px 2px 20px; font-size:12px;}
.check_li li{ background:url(../images/shortcodes/list-check.png) no-repeat left 7px;}
.arrow_li li{ background:url(../images/shortcodes/list-arrow.png) no-repeat left 8px;}
.arrow2_li li{ background:url(../images/shortcodes/list-arrow2.png) no-repeat left 5px;}
.plus_li li{ background:url(../images/shortcodes/list-plus.png) no-repeat left 7px;}
.dash_li li{ background:url(../images/shortcodes/list-dash.png) no-repeat left 11px;}
.circle_li li{ background:url(../images/shortcodes/list-circle.png) no-repeat left 4px;}
.star_li li{ background:url(../images/shortcodes/list-star.png) no-repeat left 4px;}

/*Blockquote*/
blockquote{ padding:20px 20px 20px 55px; background:url(../images/shortcodes/quote.png) no-repeat 15px 17px #f3f3f3; margin-bottom:20px;}
blockquote p{ font-style:italic; font-size:14px; line-height:22px; margin-bottom:0px!important;}

/*Column*/

.short-code-column{font: 14px/1.5em 'Helvetica Neue',Helvetica,Arial,serif,sans-serif;}
.short-code{font: 14px/1.5em 'Helvetica Neue',Helvetica,Arial,serif,sans-serif;}

.one-half {
    width: 48%;
}
.one-third {
    width: 30.66%;
}
.two-third {
    width: 65.33%;
}
.one-fourth {
    width: 22%;
}
.three-fourth {
    width: 74%;
}
.one-fifth {
    width: 16.8%;
}
.two-fifth {
    width: 37.6%;
}
.three-fifth {
    width: 58.4%;
}
.four-fifth {
    width: 67.2%;
}
.one-sixth {
    width: 13.33%;
}
.five-sixth {
    width: 82.67%;
}
.one-half, .one-third, .two-third, .three-fourth, .one-fourth, .one-fifth, .two-fifth, .three-fifth, .four-fifth, .one-sixth, .five-sixth {
    float: left;
    margin-bottom: 2em;
    margin-right: 4%;
    position: relative;
}
.column-last {
    clear: right;
    margin-right: 0 !important;
}

/*Responsive*/

/*  #Mobile (Portrait)
================================================== */

@media only screen and (max-width: 600px) {
.one-half {
    width: 100%;
}
.one-third {
    width: 100%;
}
.two-third {
    width: 100%;
}
.one-fourth {
    width: 100%%;
}
.three-fourth {
    width: 100%%;
}
.one-fifth {
    width: 100%%;
}
.two-fifth {
    width: 100%%;
}
.three-fifth {
    width: 100%%;
}
.four-fifth {
    width: 100%%;
}
.one-sixth {
    width: 100%%;
}
.five-sixth {
    width: 100%%;
}	
}