@charset "utf-8";
/* CSS Document */

@import url('reset.css');
@import url('flexslider.css');
@import url('jcarousel_tango.css');
@import url('simpletabs.css');
@import url('short_codes.css');
@import url('base.css');
@import url('responsive.css');