/*
Custom Template CSS added by Loaded7 Dev Team
*/

/* User name/profile */
#profile {
  display: block;
  font-size: 14px;
  line-height: 14px;
  color: #b2b2b2;
  background: #31363a url(../img/old-browsers/style/bg_profile.png) repeat-x;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#383e42), to(#31363a));
  background: -webkit-linear-gradient( top, #383e42, #31363a );
  background: -moz-linear-gradient( top, #383e42, #31363a );
  background: -ms-linear-gradient( top, #383e42, #31363a );
  background: -o-linear-gradient( top, #383e42, #31363a );
  background: linear-gradient( top, #383e42, #31363a );
  overflow: hidden;
  width:100%;
}
.profile50 { 
  float:left; 
  width:50%; 
}
#profileLeft {
  padding:25px 10px 0px 10px;
  cursor: pointer;
}
#profileRight {
  padding:30px 0px 0px 0px;
}
.profileRightBr {
  margin-bottom:6px;
}
.prf-top-bot-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
#profile .user-icon {
  float: left;
  margin: 0 10px 0 -2px;
}
#profile .name {
  display: block;
  font-size: 24px;
  line-height: 22px;
  color: white;
  margin-bottom: 4px;
  overflow:hidden; 
  text-overflow: ellipsis;
  height: 47px;
}
.profile-right-fourth {
  float: left;
  text-align: center;
  width: 25%;
  height: 64px;
}
.prf-bottom {
  padding-top: 30px;
}
.profile-edit-logout {
  margin-left: 90px;
}
.mega-search-border {
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
}

.progress.full-width {
  width: 100% !important;
}

#qr-message {
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  display: none;
  position: fixed;
  bottom: 10px;
  right: 22px;
  width: 210px;
  text-align: center;
}

.close-qr {
  background-color: #D52607;
  border-radius: 9px 9px 9px 9px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 3px rgba(0, 0, 0, 0.75);
  color: #FFFFFF;
  font-family: verdana,Arial,Helvetica,sans-serif;
  font-size: 11px;
  font-weight: bold;
  height: 16px;
  right: -6px;
  line-height: 16px;
  min-width: 12px;
  padding: 0 2px;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  top: -6px;
  z-index: 1;
  cursor: pointer;
}

.cat_rel_td {
  padding: 5px 0;
}
#images-gallery-trigger {
  cursor: pointer;
}
#additional-gallery-trigger {
  cursor: pointer;
}

.prod-edit-lang-select {
  width: 80px;
  margin: 3px -7px 0px 0px;
}