/**
 *
 * '||''|.                            '||
 *  ||   ||    ....  .... ...   ....   ||    ...   ... ...  ... ..
 *  ||    || .|...||  '|.  |  .|...||  ||  .|  '|.  ||'  ||  ||' ''
 *  ||    || ||        '|.|   ||       ||  ||   ||  ||    |  ||
 * .||...|'   '|...'    '|     '|...' .||.  '|..|'  ||...'  .||.
 *                                                  ||
 * --------------- By Display:inline ------------- '''' -----------
 *
 * Progress & slider
 */

/* Base */
.progress,
.slider {
	display: inline-block;
	*display: inline;
	zoom: 1;
	position: relative;
	padding: 0;
	width: 100px;
	vertical-align: middle;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	}
	.no-boxshadow .progress,
	.no-boxshadow .slider {
		border-width: 1px;
		border-style: solid;
		width: 98px;
	}
	.black-inputs .progress, .progress.black-input,
	.black-inputs .slider, .slider.black-input {
		-webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.735), 0 1px 1px rgba(255, 255, 255, 0.25);
		-moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.75), 0 1px 1px rgba(255, 255, 255, 0.25);
		box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.75), 0 1px 1px rgba(255, 255, 255, 0.25);
	}
	.progress {
		font-size: 11px;
		line-height: 16px;
		height: 16px;
		}
		.no-boxshadow .progress {
			line-height: 14px;
			height: 14px;
		}
	.slider {
		line-height: 9px;
		height: 9px;
		}
		.no-boxshadow .slider {
			line-height: 7px;
			height: 7px;
		}
	.progress.full-width,
	.slider.full-width {
		width: 100%;
	}
	.progress.thin {
		line-height: 9px;
		height: 9px;
		}
		.no-boxshadow .progress.thin {
			line-height: 7px;
			height: 7px;
		}
	.progress.large {
		line-height: 30px;
		height: 30px;
		font-size: 13px;
		}
		.no-boxshadow .progress.large {
			line-height: 28px;
			height: 28px;
		}

	/* Vertical style */
	.progress.vertical,
	.slider.vertical {
		height: 100px;
		margin: 0;
		}
		.no-boxshadow .progress.vertical,
		.no-boxshadow .slider.vertical {
			height: 98px;
		}
		.progress.vertical {
			width: 16px;
			}
			.no-boxshadow .progress.vertical {
				width: 14px;
			}
			.progress.vertical.thin {
				width: 9px;
				}
				.no-boxshadow .progress.vertical.thin {
					width: 7px;
				}
			.progress.vertical.large {
				width: 30px;
				}
				.no-boxshadow .progress.vertical.large {
					width: 28px;
				}
		.slider.vertical {
			width: 9px;
			}
			.no-boxshadow .slider.vertical {
				width: 7px;
			}
		.progress.vertical.full-width,
		.slider.vertical.full-width {
			height: auto;
		}

	/* Inner bar */
	.progress-bar,
	.slider-bar {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		font-size: inherit;
		line-height: inherit;
		overflow: hidden;
		border-width: 1px;
		border-style: solid;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-background-clip: padding-box;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
		-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
		}
		.no-boxshadow .progress-bar,
		.no-boxshadow .slider-bar {
			margin: -1px;
		}
		.vertical > .progress-bar,
		.vertical > .slider-bar {
			top: auto;
			right: 0;
		}

	/* Text */
	.progress-text {
		color: inherit;
		font-size: inherit;
		height: 16px;
		line-height: 16px;
		text-align: right;
		padding: 0 5px;
		display: block;
		position: absolute;
		left: -1px;
		right: 0;
		top: 50%;
		margin: -8px 0;
		}
		.progress > .progress-text {
			right: auto;
			left: 0;
		}
		.vertical > .progress-text,
		.vertical > .progress-bar > .progress-text {
			padding: 3px 0;
			margin: 0;
			text-align: center;
			top: auto;
			right: 0;
			bottom: 0;
			font-size: 11px;
			}
			.vertical > .progress-bar > .progress-text {
				bottom: -1px;
			}

	/* Cursor */
	.slider-cursor {
		position: absolute;
		display: block;
		margin: -8px -4px;
		top: 50%;
		width: 9px;
		height: 17px;
		background: url(../../img/standard/sprites.png) no-repeat -40px 0;
		cursor: pointer;
		}
		.touch .slider-cursor:after {
			position: absolute;
			content: '';
			left: 50%;
			top: 50%;
			width: 30px;
			height: 30px;
			margin: -15px 0 0 -15px;
			background: transparent;
		}
		.vertical > .slider-cursor {
			width: 17px;
			height: 9px;
			top: auto;
			left: 50%;
			margin: -4px -8px;
			background-position: -40px -17px;
		}
		.slider-cursor.dragging {
			z-index: 1000;
		}
		.slider-cursor.knob {
			background-position: -49px 0;
			width: 15px;
			height: 15px;
			margin: -7px;
		}

	/* Marks */
	.inner-mark,
	.top-mark,
	.bottom-mark {
		position: absolute;
		width: 1px;
		margin-left: -1px;
		pointer-events: none;
		-webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.25);
		-moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.25);
		box-shadow: 1px 0 0 rgba(255, 255, 255, 0.25);
		}
		.inner-mark {
			top: 1px;
			bottom: 1px;
			background: url(../../img/old-browsers/grey20.png);
			background: rgba(128, 128, 128, 0.2);
		}
	.vertical > .inner-mark,
	.left-mark,
	.right-mark {
		position: absolute;
		height: 1px;
		width: auto;
		margin: 0 0 -1px;
		pointer-events: none;
		-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
		-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
		}
		.vertical > .inner-mark {
			top: auto;
			bottom: auto;
			left: 0;
			right: 0;
			height: 1px;
		}

	.top-mark,
	.right-mark,
	.bottom-mark,
	.left-mark {
		background: url(../../img/old-browsers/grey50.png);
		background: rgba(128, 128, 128, 0.5);
		}
		.top-mark,
		.bottom-mark {
			height: 5px;
			}
			.top-mark {
				bottom: 100%;
				margin-bottom: 3px;
			}
			.bottom-mark {
				top: 100%;
				margin-top: 3px;
			}
		.left-mark,
		.right-mark {
			width: 5px;
			}
			.left-mark {
				right: 100%;
				margin-right: 3px;
			}
			.right-mark {
				left: 100%;
				margin-left: 3px;
			}

	.mark-label {
		position: absolute;
		color: #808080;
		color: rgba(128, 128, 128, 0.5);
		font-size: 10px;
		line-height: 10px;
		text-transform: uppercase;
		}
		.top-mark > .mark-label,
		.bottom-mark > .mark-label {
			text-align: center;
			width: 80px;
			left: -39px;
			}
			.top-mark > .mark-label {
				bottom: 100%;
				margin-bottom: 2px;
			}
			.bottom-mark > .mark-label {
				top: 100%;
				margin-top: 2px;
			}
			.mark-label.align-left {
				text-align: right;
				width: auto;
				left: auto;
				right: -1px;
				white-space: nowrap;
			}
			.mark-label.align-right {
				text-align: left;
				width: auto;
				left: -1px;
				white-space: nowrap;
			}
		.left-mark > .mark-label {
			text-align: right;
			right: 100%;
			margin-right: 2px;
			top: -5px;
			white-space: nowrap;
		}
		.right-mark > .mark-label {
			text-align: left;
			left: 100%;
			margin-left: 2px;
			top: -5px;
			white-space: nowrap;
			}
			.mark-label.align-top {
				top: -2px;
			}
			.mark-label.align-bottom {
				top: auto;
				bottom: -1px;
			}