<?xml version="1.0" encoding="UTF-8"?>
<modification>
  <id>Add Vantiv Override</id>
  <version>1.0.0</version>
  <vqmver>2.3.2</vqmver>
  <author>loadedcommerce.com</author>
  <file name="templates/default/classes/output.php">
    <operation info="Add Vantiv Override">
      <search position="replace"><![CDATA[if ($key != 'configuration' && $key != 'tools' && $key != 'store') continue;]]></search>         
      <add><![CDATA[if ($key != 'configuration' && $key != 'tools' && $key != 'store' && $key != 'file_manager') continue;]]></add>
    </operation>       
  </file> 
</modification>